.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
Python/.ipynb_checkpoints/anova_test-checkpoint.ipynb
Python/.ipynb_checkpoints/bayesian_ab_test_pymc-checkpoint.ipynb
Python/.ipynb_checkpoints/bayesian_ab_test_scipy-checkpoint.ipynb
Python/.ipynb_checkpoints/bayesian_logistic_regression-checkpoint.ipynb
Python/.ipynb_checkpoints/fitts_law-checkpoint.ipynb
R/.ipynb_checkpoints/anova_test-checkpoint.R
R/.ipynb_checkpoints/bayesian_logistic_regression-checkpoint.R
Python/.ipynb_checkpoints/anova_test-checkpoint.ipynb
Python/.ipynb_checkpoints/bayesian_ab_test_pymc-checkpoint.ipynb
Python/.ipynb_checkpoints/bayesian_ab_test_scipy-checkpoint.ipynb
Python/.ipynb_checkpoints/fitts_law-checkpoint.ipynb
Python/.ipynb_checkpoints/bayesian_ab_test_scipy-checkpoint.ipynb
Python/.ipynb_checkpoints/bayesian_ab_test_pymc-checkpoint.ipynb
Python/.ipynb_checkpoints/anova_test-checkpoint.ipynb
Python/.ipynb_checkpoints/fitts_law-checkpoint.ipynb
.ipynb_checkpoints/sample_text-checkpoint.txt
.ipynb_checkpoints/README-checkpoint.md
Python/.ipynb_checkpoints/bayesian_anova-checkpoint.ipynb
